@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{ margin: 0; padding: 0; list-style-type: none; text-decoration: none; font-size: inherit; color: inherit; font-weight: normal; font-style: normal; text-transform: uppercase; }

.ellipsis1 { width: 100%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box;  -webkit-line-clamp: 1; -webkit-box-orient: vertical; }

.ellipsis2 { width: 100%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box;  -webkit-line-clamp: 2; -webkit-box-orient: vertical; }

.ellipsis3 { width: 100%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box;  -webkit-line-clamp: 3; -webkit-box-orient: vertical; }

img{ width: 100%; height: 100%; object-fit: cover;}
button{ border: transparent; background-color: transparent; cursor: pointer;}
:root{ font-size: 10px; font-family: 'Roboto', sans-serif;}

header{ position: fixed; width: 100%; height: 50px; z-index: 1; color: #fff; font-size: 2rem;}
header .logo{ filter: invert(1);}
header .hd_wrap{ display: flex; gap: 50px; padding: 0 1%; box-sizing: border-box; align-items: center; position: relative; background: transparent;}
header nav ul{ display: flex; gap: 20px}
header .user_utill{ position: absolute; display: flex; gap: 10px; right: 1%; top: 50%; transform: translateY(-50%);}
header .user_utill img{ width: 30px;}

.menu_open{ display: none; ; position: absolute; right: 1%; top: 50%; transform: translateY(-50%); background: #fff; border-radius: 40px;}
.menu_open button{ display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; }
.menu_open img{ width: 60%; height: 60%;}

#sect0{ position: relative; color: #fff;}
#sect0 video{ width: 100%; height: 100%; object-fit: cover;}

#sect0 .tit_box{ position: absolute; left: 1%; top: 50%; transform: translateY(-50%);}
#sect0 strong{ font-size: 2rem; font-weight: 500;}
#sect0 h1{ font-size: 10rem; font-weight: 800;}

#sect0 .more{display: flex; width: 200px; height: 50px; align-items: center; justify-content: center; border: 1px solid #fff; }
#sect0 .more a{ vertical-align: middle; font-size: 2rem;}
#sect0 .more img{ vertical-align: middle; margin-right: 10px;}
#sect0 img{ filter: invert(1); width: 30px;}


#sect1 .swiper { width: 100%; height: 50vh;}
#sect1{ display: flex; justify-content: space-between; padding-top: 100px; box-sizing: border-box;}
#sect1{ background: url(image/sect1_bg1.jpg) no-repeat center/cover;}
#sect1 .txt_box{ padding-left: 50px;color: #ffff; width: 50%; display: flex; flex-direction: column; gap: 20px;}
#sect1 h2{ font-size: 5rem;}
#sect1 strong{ font-size: 3rem;}
#sect1 p{ font-size: 1.5rem; line-height: 2;}

#sect2{ background: url(image/sect2_bg1.jpg) no-repeat center/cover; padding-top: 50px; box-sizing: border-box;}
.video_box{ width: 80%; margin: auto; background-color: black; padding: 50px; border-radius: 50px; box-sizing: border-box;}
.youtube{position: relative; width: 100%; height: auto; padding-top: 50%;}
iframe{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;}

#sect3{ background: url(image/sect3_bg.jpg) no-repeat center/cover; color: #fff;  padding: 100px; box-sizing: border-box; gap: 300px;}
#sect3 .left{ width: 50%; display: flex; flex-direction: column; align-items: center;}
#sect3 .right{ width: 50%; display: flex; flex-direction: column; align-items: center;}
#sect3 .top h3{ font-size: 5rem; font-weight: 700;}
#sect3 .top strong{ font-size: 3rem; font-weight: 500;}
#sect3 .top p{ font-size: 1.5rem; font-weight: 500;}
#sect3 .bottom .pd{ font-size: 1.2rem; padding: 20px; box-sizing: border-box; text-align: justify; background-color: rgb(59, 59, 59); line-height: 1.5;}

#sect3 .swiper{ width: 100%;}

#sect3 .img_logo{ position: absolute; left: 50%; top: 10vh; transform: translateX(-50%); width: 30%;}
#sect3 { display: flex; flex-direction: row; align-items: flex-end;}

#sect4{ background: url(image/sect3_bg.jpg) no-repeat center/cover; color: #fff;  padding: 100px; box-sizing: border-box; gap: 300px;}
#sect4 .left{ width: 50%; display: flex; flex-direction: column; align-items: center;}
#sect4 .right{ width: 50%; display: flex; flex-direction: column; align-items: center;}
#sect4 .top h3{ font-size: 5rem; font-weight: 700;}
#sect4 .top strong{ font-size: 3rem; font-weight: 500;}
#sect4 .top p{ font-size: 1.5rem; font-weight: 500;}

#sect4 .swiper{ width: 100%;}

#sect4 .img_logo{ position: absolute; left: 50%; bottom: 5vh; transform: translateX(-50%); width: 30%;}
#sect4 { display: flex; flex-direction: row; align-items: flex-start;}
#sect4 .bottom .pd{ font-size: 1.2rem; padding: 20px; box-sizing: border-box; text-align: justify; background-color: rgb(59, 59, 59); line-height: 1.5;}

#sect5{ background: url(image/sect5_bg1.jpg) no-repeat center/cover; padding-top: 100px; justify-content: center; align-items: center;}
#sect5 .center{ width: 80%; display: flex; flex-direction: column; gap: 50px;}
#sect5 .item_contain{ display: flex; flex-wrap: wrap; gap: 50px;} 
#sect5 .item_contain .item{width: calc(50% - 25px); display: flex; flex-direction: column; gap: 20px; border: 1px solid #fff; box-sizing: border-box; background-color: rgba(255,255,255,0.5); padding: 2%; border-radius: 5px;}

#sect5 .txt_box{ display: flex; flex-direction: column; gap: 10px}
#sect5 .txt_box h2{ font-size: 5rem;}
#sect5 .txt_box strong{ font-size: 3rem;}
#sect5 .txt_box p{ font-size: 2rem;}

#sect5 .item_contain h3{ font-size: 3rem;}
#sect5 .item_contain strong{ font-size: 2rem;}
#sect5 .item_contain p{ font-size: 1.5rem;}

#sect5 .item_contain .item{ padding-left: 120px; box-sizing: border-box; position: relative;}
#sect5 .item_contain .item::after{ text-align: center; background-color: rgba(0, 0, 0, 0.5); position: absolute; left: 10px; top: 50%; transform: translateY(-50%); display: block; width: 80px; height: 80px; border-radius: 40px; line-height: 80px; text-align: center; color: #fff; font-size: 5rem; font-weight: 700;}



#sect5 .item_contain .item1::after{ content: '1'; }
#sect5 .item_contain .item2::after{ content: '2'; }
#sect5 .item_contain .item3::after{ content: '3'; }
#sect5 .item_contain .item4::after{ content: '4'; }



#sect6{ display: flex;justify-content: center; align-items: center; position: relative; padding: 0 50px; box-sizing: border-box;}
#sect6 .center{  display: flex; width: 100%;}
#sect6 .center .left{  width: 60%; display: flex; flex-direction: column; gap: 50px;}
#sect6 .right{ position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 60%; }

#sect6 .wheel{ width: 200px; display: flex;}
#sect6 .slider .img_box:nth-child(2){ filter: hue-rotate(90deg);}
#sect6 .slider .img_box:nth-child(3){ filter: hue-rotate(-90deg)}

#sect6 li{ text-align: center; line-height: 100px;}

#sect6 .color_box ul{ display: flex; gap: 20px}
#sect6 .color_box ul li{ width: 100px; height: 100px;}
#sect6 .color_box ul li:nth-child(1){ background-color: #7c7c7c;}
#sect6 .color_box ul li:nth-child(2){ background-color: #053406;}
#sect6 .color_box ul li:nth-child(3){ background-color: #81070a;}
#sect6 .color_box ul li:nth-child(4){ background-color: #234461;}
#sect6 .color_box ul li:nth-child(5){ background-color: #151515;}

#sect6 .loopcap ul{ display: flex; gap: 20px}
#sect6 .loopcap ul li{ width: 100px; height: 100px;}
#sect6 .loopcap ul li:nth-child(1){ background-color: black;}
#sect6 .loopcap ul li:nth-child(2){ border: 1px solid black;}

#sect6 h2{ font-size: 5rem; margin-bottom: 50px;}
#sect6 h3{ font-size: 2rem;}

#sect7{ background: url(image/sect7_bg.jpg) no-repeat center/cover; padding: 0 100px; color: #fff;display: flex; justify-content: center; align-items: center;}
.tab_container ul{ display: flex; justify-content: space-between;}
.tab_container ul li{ width: 40%;}
.tabs{ display: flex; gap: 20px;  font-size: 2rem;}
.tabs li.active{ color: red;}
#sect7 h3{ font-size: 8rem; }

#sect8{ background: url(image/sect8_bg1.jpg) no-repeat center/cover; display: flex; align-items: center; justify-content: flex-end; padding-bottom: 100px;}
#sect8 .wrap{ display: flex; flex-direction: column; gap: 20px;}
#sect8 h3{ font-size: 3rem;}
#sect8 .bottom{ display: flex; gap: 20px; align-items: center;}
#sect8 span{ font-size: 2rem; }
#sect8 a{ font-size: 2rem; border: 1px solid #000; padding: 20px 100px;}
#sect8 img{ width: 400px; object-fit: contain;}


footer{ padding: 5%; box-sizing: border-box; background-color: rgb(58, 58, 58); text-align: center; color: #fff; font-size: 2rem; display: flex; flex-direction: column; gap: 20px; align-items: center; justify-content: center;}

footer img{ width: 200px; }

@media(max-width: 1100px){
    :root{ font-size: 8px;}
    nav{ display: none;}
    header .user_utill{display: none;}
    .menu_open{ display: block;}
    #sect5 .item_contain .item{ width: 100%;}
}
